* {
    background-color: #FFFAF1;
}

.hdr-logo a{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.navbar {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display:inline-block;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #111;
    color: white;
}

.imgbox {
    display: grid;
    width: 100%;
    margin: 0;
    padding: 0;
}

.center-fit {
    max-width: 100%;
    margin:auto;
}

#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    opacity: .8;
}

#scrollTopBtn:hover {
    background-color: #555;
}

.footer-wrapper {
    background: #FFFAF1;
    position: relative;
    width: 100%;
    z-index: 99;
}

.row.wide {
    margin: 0 auto;
    max-width: 1800px;
    width: 100%;
}

.vertical-padding-medium {
    padding-top: 75px;
    padding-bottom: 75px;
}

.columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float:left;
}

.center {
    text-align: center;
}
